# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Environnements virtuels (votre dossier venv) ---
venv/
env/
.venv/
.env

# --- PyCharm / JetBrains (fichiers de config IDE) ---
.idea/

# --- Windows / OS ---
Thumbs.db
Desktop.ini
.DS_Store

# --- Logs et Erreurs ---
*.log

# --- Données (optionnel : à décommenter si vous avez de gros fichiers) ---
# *.csv
# *.mp4
# *.h5
# models/